body
    {
      display: flex;
      flex-direction: column;
    }

main 
    {
        display: flex;
        flex-direction: row;
        flex: auto;
        background-color: whitesmoke;
    }
article
    {
        flex: 2;
        overflow-y: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    aside
{
        flex: 1;
        overflow-y: auto;
    }