body
    {
      display: flex;
      flex-direction: column;
    }

main 
    {
        display: flex;
        flex-direction: row;
        flex: auto;
        background-color: wheat;
    }

article
    {
        flex: 2;
        overflow-y: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

h2,h3,h4
    {
        background-color: whitesmoke;
        font-style: italic;
        font-family: sans-serif;
    }

aside
    {
        flex: 1;
        overflow-y: auto;
    }
